{% extends "layout.twig" %}

{% block content %}
    <div class="white block">
		<h2>Calculatrice</h2>
		<div class="welcom flex center">
			<form method="GET">
				<label><input name="value1"></label><br>
				<label class="radio">
					<input  type="radio" name="operator" value="+"> +
				</label>
				<label class="radio">
					<input  type="radio" name="operator" value="-"> -
				</label>
				<label class="radio">
					<input  type="radio" name="operator" value="*"> *
				</label>
				<label class="radio">
					<input  type="radio" name="operator" value="/"> /
				</label><br>
				<label><input name="value2"></label><br>
				<input type="submit" value=" = "> {{result}}
			</form>
		</div>
	</div>
{% endblock %}