{% extends "layout.twig" %}

{% block content %}
	<div class="white block">
		<h2>Bienvenue</h2>
		<div class="welcom flex center">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores culpa dolore eveniet inventore mollitia 
			nostrum repudiandae sint vel? Blanditiis culpa dignissimos hic in neque porro possimus quo tempore voluptate?</p>
		</div>
	</div>
{% endblock %}

