<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Site internet</title>
</head>
<body>
	<header class="blue" style="padding: 10px;">
		<h1 style="text-align: center;">Mon site Slim</h1>
		<ul>
			<li>
				<a class="btn" href="{{ url_for('root') }}">Home</a>
				<a class="btn" href="{{ url_for('presentation') }}">Si j'étais</a>
				<a class="btn" href="{{ url_for('replicas') }}">Répliques</a>
				<a class="btn" href="{{ url_for('calculator') }}">Calculatrice</a>
				<address style="float:right;">Slim 4</address>
			</li>
		</ul>
	</header>
	

	<div class="page {% if value != 1 %}flex center{% endif %}">
		{% block list %}{% endblock %}
		{% block content %}{% endblock %}
	</div>
	
</body>
</html>

<style lang="postcss" scoped>

/*-----------------------default--------------------*/

* {
	margin: auto;
}

body {
	
}

.center {
	justify-content: center;
	align-items: center;
}

.column {
	flex-direction: column;
}

.flex {
	display: flex;
}

h2 {
	padding: 5px 30px;
	margin: 0 5px;
	border-bottom: 1px solid black;
}

li {
	list-style: none;
	/* justify-content: space-evenly; */
}

.page {
	height: 89vh;
	background-color: rgb(39,39,42);
}

/*-----------------------colors--------------------*/

.blue {
	color: white;
	background-color: rgb(0,39,59);
}
 
.grey {
	color: white;
	background-color: rgb(39,39,42);
}

.white {
	background-color: rgb(194,194,204);
}

/*-----------------------navbar--------------------*/

ul{
	margin: auto;
	padding: 10px 0 0;
}

.btn {
	text-decoration: none;
	list-style: none;
	color: white;
	padding: 10px 24px;
	border-radius: 4px;
} .btn:hover {
	position: relative;
	top: 2px;
	color: rgb(194,194,204);
}

/*-----------------------content--------------------*/

.block {
	/* min-width: 500px; */
	width: 50%;
	min-height: 50vh;
	max-height: 80vh;
	box-shadow: 8px 8px 16px rgba(0,0,0,0.8);
	padding: 10px;
	overflow: auto;
}

.welcom {
	height: 50vh;
	width: 70%;
	text-align: center;
}

/*-----------------------citation--------------------*/
.by {
	display: flex;
	justify-content: flex-end;
}

.backbtn {
	text-decoration: none;
	color: white;
	background-color:rgb(60,110,150);
	border-radius: 4px;
	padding: 10px 0;
	text-align: center;
	margin: 0;
	width: 70%;
	align-self: center;
	box-shadow: 2px 2px 4px black;
} .backbtn:hover {
	box-shadow: none;
	position: relative;
	top: 1px;
}

.leftbtn {
	float: top;
	padding: 10px 20px;
	margin: 10px;
}

.link {
	text-decoration: none;
} .link:hover {
	box-shadow: none;
	position: relative;
	top: 1px;
}

.replica, .replicaList {
	padding: 10px 20px;
	border-radius: 4px;
	box-shadow: 2px 2px 4px black;
	text-align: center;
}

.replica {
	margin: 10px;
	box-shadow: 2px 2px 4px black inset;
}

.list {
	display: flex;
	margin: 20px;
}

.side {
	margin: 0 0 5%;
}

.block-size {
	width: 100%;
	height: 40vh;
}

/*-----------------------presentation--------------------*/
.ifIAm {
	padding: 15px;
}

span {
	color:rgb(60,99,139);
}

/*-----------------------calculator--------------------*/
.radio {
	padding: 0 10px;
}

/*-----------------------responsive--------------------*/
@media only screen and (max-width: 400px) {
	.block {
		width: 90%;
		height: 85%;
	}
}

</style>