{% extends "replicaslist.twig" %}

{% block content %}
    <div class="white block flex column">
        <h2>{% block title %}{% endblock %} </h2>
        <div>
            {% for i in replicas %}
                <div class="replica grey">{{i[0]}}<address class="by">{{i[1]}}</address></div>
            {% endfor %}
        </div>
        <a class="backbtn " href="{{ url_for('replicas') }}">retour</a>      
    </div>
{% endblock %}