{% extends "layout.twig" %}

{% block list %}
<div class="white flex column
    {% if value != 1 %}block {% else %}side{% endif %}
    ">
    {% if value != 1 %}<h2>Répliques et citations</h2>{% endif %}
    <div class="{% if value == 1 %}list{% else %}flex column block-size{% endif %}">
        {% for i in list %}
            <a style="{% if value != 1 %}width: 70%;
            {% else %} width: 25%;{% endif %}"
            href="
                {% if i == 'Kaamelott'%}
                    {{ url_for('kaamelott') }}
                {% elseif i == 'The Big Bang Theory' %}
                    {{ url_for('big-bang-theory') }}
                {% elseif i == 'Citations' %}
                    {{ url_for('citations') }}
                {% endif %}"
            class="link">
                <p class="replicaList blue">{{i}}</p>
            </a>
        {% endfor %}
    </div>
</div>


{% endblock %}

