{% extends "layout.twig" %}

{% block content %}
	<div class="white block">
    <h2>Présentation</h2>
        <div class="flex">
            <div style="width: 50%; margin: 0">
                {% for i in list %}
                    <div class="ifIAm">SI J'ÉTAIS 
                        <strong>{{i[0]}}</strong><br>
                        je serais <span>{{i[1]}} </span>{{i[2]}}
                    </div>
                {% endfor %}
            </div>
            <div style="width: 50%">
                {% for i in list2 %}
                    <div class="ifIAm">SI J'ÉTAIS 
                        <strong>{{i[0]}}</strong><br>
                        je serais <span>{{i[1]}} </span>{{i[2]}}
                    </div>
                {% endfor %}
            </div>
        </div>
	</div>
{% endblock %}