{% extends "layout.twig" %}

{% block content %}
<div class="white block flex column">
<h2>Répliques et citations</h2>
{% for i in replicas %}
        <a style="width: 70%;" href="
            {% if i == 'Kaamelott'%}
                {{ path_for('kaamelott') }}
            {% elseif i == 'The Big Bang Theory' %}
                {{ path_for('big-bang-theory') }}
            {% elseif i == 'Citations' %}
                {{ path_for('citations') }}
            {% endif %}"
        class="link">
            <p class="replicaList blue">{{i}}</p>
        </a>
    {% endfor %}
</div>


{% endblock %}

